In [11]:
import pandas as pd
from pandas import read_csv, read_excel
from pandas import Series

In [74]:
#Hardcoded due to relative pathing errors. Data loaded.
#HERD2016_DST_21.xlsx has merged cells that are not read in correctly.  Used names to hard code labels headers.
DST_21= pd.read_excel("C:/Users/cgdeer/HERD_Analysis/2016/HERD2016_DST_21.xlsx",
                     skiprows=5, #skip 5 to start going into the data directly, 3 from blank formatting and 2 from the merged cell for the header
                     
                     header=None,names=['Rank','Institution',
                                        "All R&D Expenditures",
                                        'u0',
                                        "Federal Government", 
                                        'u1',
                                        "State and local government",
                                        'u2',
                                        'Institution Funds', 
                                        'u3',
                                        "Business", 
                                        'u4',
                                        'Non-Profit Organizations', 
                                        'u5', 
                                        'All other sources',
                                        'u6'],
                    skipfooter=4)
DST_22= pd.read_excel("C:/Users/cgdeer/HERD_Analysis/2016/HERD2016_DST_22.xlsx",
                    skiprows=3, skipfooter=7)
DST_24= pd.read_excel("C:/Users/cgdeer/HERD_Analysis/2016/HERD2016_DST_24.xlsx",
                    skiprows=3, skipfooter=7)
DST_25_wid= pd.read_excel("c:/Users/cgdeer/HERD_Analysis/2016/HERD2016_DST_25wid.xlsx",
                     skiprows=3, skipfooter=7)
EdgeFile = pd.read_excel("c:/Users/cgdeer/Downloads/EDGE_GEOCODE_POSTSECONDARYSCH_1617/EDGE_GEOCODE_POSTSECONDARYSCH_1617/EDGE_GEOCODE_POSTSECSCH_1617.xlsx",
                        index_col="UNITID")

In [73]:
#Culling of extra columns, cell grows by output
DST_25_wid.head(6)
DST_25_wid_FedSpendFy2016byAgency=DST_25_wid
len(DST_25_wid_FedSpendFy2016byAgency)
DST_25_wid_FedSpendFy2016byAgency.index_col="Institution"
list(DST_25_wid_FedSpendFy2016byAgency)
#remove empty columns
cols4= ['UNITID',
        'Rank',
        'Institution',
        'All federal R&D expenditures',
        'DOD',
        'DOE',
        'HHS',
        'NASA',
        'NSF',
        'USDA',
        'Othera']
DST_25_wid_FedSpendFy2016byAgency=DST_25_wid[cols4]
#convert each data column to 
DST_25_wid_FedSpendFy2016byAgency;
DST_25_wid_FedSpendFy2016byAgency['All federal R&D expenditures in USD']=DST_25_wid_FedSpendFy2016byAgency['All federal R&D expenditures']*1000;
DST_25_wid_FedSpendFy2016byAgency['DOD in USD']=DST_25_wid_FedSpendFy2016byAgency['DOD']*1000;
DST_25_wid_FedSpendFy2016byAgency['DOE in USD']=DST_25_wid_FedSpendFy2016byAgency['DOE']*1000;
DST_25_wid_FedSpendFy2016byAgency['HHS in USD']=DST_25_wid_FedSpendFy2016byAgency['HHS']*1000;
DST_25_wid_FedSpendFy2016byAgency['NASA in USD']=DST_25_wid_FedSpendFy2016byAgency['NASA']*1000;
DST_25_wid_FedSpendFy2016byAgency['NSF in USD']=DST_25_wid_FedSpendFy2016byAgency['NSF']*1000;
DST_25_wid_FedSpendFy2016byAgency['USDA in USD']=DST_25_wid_FedSpendFy2016byAgency['USDA']*1000;
DST_25_wid_FedSpendFy2016byAgency['Other in USD']=DST_25_wid_FedSpendFy2016byAgency['Othera']*1000;

DST_25_wid_FedSpendFy2016byAgency;
col25A=['UNITID',
        'Rank',
        'Institution',
        'All federal R&D expenditures in USD',
        'DOD in USD',
        'DOE in USD',
        'HHS in USD',
        'NASA in USD',
        'NSF in USD',
        'USDA in USD',
        'Other in USD']
DST_25_wid_FedSpendFy2016byAgencyInUSD=DST_25_wid_FedSpendFy2016byAgency[col25A]
DST_25_wid_FedSpendFy2016byAgencyInUSD.index_col='UNITID'

C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
DST_25_wid_FedSpendFy2016byAgencyInUSD.head(3)

,UNITID,Rank,Institution,All federal R&D expenditures in USD,DOD in USD,DOE in USD,HHS in USD,NASA in USD,NSF in USD,USDA in USD,Other in USD
0,NaN,NaN,All institutions,38793542000,5312956000,1770809000,20658827000,1491911000,5114206000,1208710000,3236123000
1,162928.0,1.0,Johns Hopkins U.b,2104653000,1037685000,9125000,618525000,252470000,37379000,537000,148932000
2,236948.0,2.0,"U. Washington, Seattle",946787000,85472000,30932000,612050000,16815000,113679000,15404000,72435000

In [5]:
DST_24;

In [49]:
DST_22.head(5)
DST_22_AllFy2016byField=DST_22
len(DST_22_AllFy2016byField)
DST_22_AllFy2016byField.index_col="Institution"
list(DST_22_AllFy2016byField)
cols2=['Rank',
 'Institution',
 'All R&D expenditures',
 'Computer and information sciencesa',
 'Geosciences, atmospheric sciences, and ocean sciencesa',
 'Life sciences',
 'Mathematics and statisticsa',
 'Physical sciences',
 'Psychology',
 'Social sciences',
 'Sciences, nec',
 'Engineering',
 'All non-S&E fields']
DST_22_AllFy2016byField=DST_22[cols2]
DST_22_AllFy2016byField['All R&D expenditures in USD']=DST_22_AllFy2016byField['All R&D expenditures']*1000;
DST_22_AllFy2016byField['Computer and information sciences in USD']=DST_22_AllFy2016byField['Computer and information sciencesa']*1000;
DST_22_AllFy2016byField['Geosciences, atmospheric sciences, and ocean sciences in USD']=DST_22_AllFy2016byField['Geosciences, atmospheric sciences, and ocean sciencesa']*1000;
DST_22_AllFy2016byField['Life sciences in USD']=DST_22_AllFy2016byField['Life sciences']*1000;
DST_22_AllFy2016byField['Mathematics and statistics in USD']=DST_22_AllFy2016byField['Mathematics and statisticsa']*1000;
DST_22_AllFy2016byField['Physical sciences in USD']=DST_22_AllFy2016byField['Physical sciences']*1000;
DST_22_AllFy2016byField['Psychology in USD']=DST_22_AllFy2016byField['Psychology']*1000;
DST_22_AllFy2016byField['Social sciences in USD']=DST_22_AllFy2016byField['Social sciences']*1000;
DST_22_AllFy2016byField['Sciences, nec in USD']=DST_22_AllFy2016byField['Sciences, nec']*1000;
DST_22_AllFy2016byField['Engineering in USD']=DST_22_AllFy2016byField['Engineering']*1000;
DST_22_AllFy2016byField['All non-S&E fields in USD']=DST_22_AllFy2016byField['All non-S&E fields']*1000;
cols2a=['Rank',
 'Institution',
 'All R&D expenditures in USD',
 'Computer and information sciences in USD',
 'Geosciences, atmospheric sciences, and ocean sciences in USD',
 'Life sciences in USD',
 'Mathematics and statistics in USD',
 'Physical sciences in USD',
 'Psychology in USD',
 'Social sciences in USD',
 'Sciences, nec in USD',
 'Engineering in USD',
 'All non-S&E fields in USD']
DST_22_AllFy2016byFieldInUSD=DST_22_AllFy2016byField[cols2a]

C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Rank,Institution,All R&D expenditures in USD,Computer and information sciences in USD,"Geosciences, atmospheric sciences, and ocean sciences in USD",Life sciences in USD,Mathematics and statistics in USD,Physical sciences in USD,Psychology in USD,Social sciences in USD,"Sciences, nec in USD",Engineering in USD,All non-S&E fields in USD
0,NaN,All institutions,71833308000,2077884000,3087774000,40887850000,681661000,4893565000,1218721000,2366571000,1076636000,11381727000,4160919000
1,1.0,Johns Hopkins U.b,2431180000,142021000,33628000,904527000,55510000,181885000,4934000,9130000,66935000,1026629000,5981000
2,2.0,"U. Michigan, Ann Arbor",1436448000,8162000,13522000,784654000,18405000,54868000,21397000,160254000,2036000,293930000,79220000
3,3.0,U. Pennsylvania,1296429000,17589000,1724000,942243000,6173000,39426000,20638000,41676000,9998000,61366000,155596000
4,4.0,"U. California, San Francisco",1294261000,0,0,1237736000,0,56525000,0,0,0,0,0
5,5.0,"U. Washington, Seattle",1277679000,23467000,117932000,832215000,6088000,54819000,10630000,19336000,158000,133128000,79906000
6,6.0,U. Wisconsin-Madison,1157680000,21226000,54306000,654896000,6950000,75530000,9103000,41370000,40615000,147315000,106369000
7,7.0,"U. California, San Diego",1087117000,27630000,166470000,650484000,5008000,68169000,18909000,16273000,11840000,114646000,7688000
8,8.0,Harvard U.,1077253000,11229000,37326000,599596000,11866000,82643000,7588000,100223000,91348000,70131000,65303000
9,9.0,Stanford U.,1066269000,25258000,17302000,700514000,7500000,100544000,17215000,18385000,0,125633000,53918000
10,10.0,Duke U.,1055778000,5271000,10214000,888830000,10238000,19074000,6996000,28677000,0,74746000,11732000
11,11.0,"U. North Carolina, Chapel Hill",1045338000,15988000,17709000,765284000,3552000,35524000,51044000,94310000,141000,29576000,32210000
12,12.0,"U. California, Los Angeles",1037528000,14014000,32350000,724967000,11456000,61909000,18335000,40072000,19948000,78962000,35515000
13,13.0,Cornell U.,974199000,21673000,4742000,676105000,2988000,105986000,12740000,43438000,0,88512000,18015000
14,14.0,Massachusetts Institute of Technology,946159000,74755000,54193000,124982000,9399000,137188000,2612000,26903000,22156000,427923000,66048000
15,15.0,"U. Minnesota, Twin Cities",910181000,16151000,13960000,610920000,9804000,40569000,27243000,36009000,0,117858000,37667000
16,16.0,"Texas A&M U., College Station and Health Scien...",892718000,20849000,113893000,329855000,10737000,56123000,3444000,28431000,6207000,290413000,32766000
17,17.0,"U. Pittsburgh, Pittsburgh",889793000,9268000,12513000,747123000,3241000,29135000,22458000,4174000,11214000,41382000,9285000
18,18.0,Yale U.,881765000,9137000,7252000,740937000,2393000,59337000,10061000,10361000,221000,26271000,15795000
19,19.0,U. Texas M. D. Anderson Cancer Center,852095000,0,0,792743000,18514000,15303000,17548000,7987000,0,0,0
20,20.0,Columbia U. in the City of New York,837312000,20091000,84289000,570751000,3523000,37518000,3863000,10079000,0,63596000,43602000
21,21.0,"Pennsylvania State U., University Park and Her...",825561000,47112000,42273000,261912000,34141000,72314000,22464000,41232000,303000,288234000,15576000
22,22.0,Ohio State U.,818464000,23112000,10523000,473816000,6342000,36459000,6743000,12827000,33881000,147590000,67171000
23,23.0,New York U.,809739000,17434000,145000,598566000,10101000,17360000,23719000,24286000,0,59782000,58346000
24,24.0,U. Florida,791294000,18436000,15833000,561894000,1485000,28226000,6403000,14722000,398000,94548000,49349000
25,25.0,Georgia Institute of Technology,790706000,114787000,11384000,23915000,7185000,40248000,5868000,9388000,9124000,558219000,10588000
26,26.0,"U. California, Berkeley",774255000,9899000,10487000,212963000,7496000,158628000,13803000,50639000,85522000,185049000,39769000
27,27.0,"U. California, Davis",741892000,9024000,26861000,525165000,4240000,32156000,2608000,29254000,7574000,89188000,15822000
28,28.0,"Washington U., Saint Louis",741115000,5242000,5649000,661793000,519000,18899000,5871000,1251000,3268000,24130000,14493000
29,29.0,Northwestern U.,713491000,2197000,1655000,481869000,2293000,67071000,4667000,16924000,23848000,84243000,28724000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,611.0,Rhode Island School of Design,1071000,18000,322000,9000,0,0,0,2000,0,3000,717000
612,612.0,U. Houston system administration,1070000,0,0,0,0,0,0,0,1070000,0,0
613,613.0,Lake Superior State U.,1039000,0,88000,734000,6000,19000,0,0,0,144000,48000
614,614.0,"U. Minnesota, Morris",1029000,0,271000,195000,14000,25000,33000,86000,0,0,405000
615,615.0,"SUNY, C. Plattsburgh",1020000,0,622000,56000,0,342000,0,0,0,0,0
616,616.0,Seattle Pacific U.,1016000,3000,0,36000,0,49000,131000,0,0,9000,788000
617,617.0,Allegheny C.,1014000,0,61000,17000,0,285000,0,0,190000,0,461000
618,618.0,Biola U.,1000000,31000,0,648000,9000,71000,14000,30000,0,144000,53000
619,618.0,Hult International Business School,1000000,0,0,0,0,0,0,0,0,0,1000000
620,620.0,New England C. of Optometry,980000,0,0,980000,0,0,0,0,0,0,0
621,621.0,Oakwood U.,966000,0,0,289000,149000,430000,0,0,0,0,98000
622,622.0,Gonzaga U.,959000,4000,0,442000,0,249000,0,0,0,227000,37000
623,623.0,Chicago State U.,910000,0,0,910000,0,0,0,0,0,0,0
624,624.0,Kean U.,908000,81000,0,269000,0,45000,5000,0,0,0,508000
625,625.0,Monmouth U.,900000,0,821000,79000,0,0,0,0,0,0,0
626,626.0,"California State U., East Bay",837000,0,144000,328000,0,200000,0,165000,0,0,0
627,627.0,Bastyr U.,832000,0,0,810000,0,0,0,22000,0,0,0
628,628.0,Stockton U.,807000,0,701000,42000,0,9000,0,7000,0,0,48000
629,629.0,American Samoa Community C.,793000,0,0,793000,0,0,0,0,0,0,0
630,630.0,Wheeling Jesuit U.,776000,0,0,69000,0,0,0,0,0,0,707000
631,631.0,U. Tampa,760000,0,164000,0,0,0,0,18000,0,184000,394000
632,632.0,St. Bonaventure U.,731000,26000,0,95000,4000,57000,0,6000,0,0,543000
633,633.0,Sewanee: U. of the South,701000,0,99000,180000,0,67000,119000,121000,0,0,115000
634,634.0,Sonoma State U.,693000,68000,207000,240000,0,37000,0,16000,0,4000,121000
635,635.0,Nicholls State U.,665000,0,231000,398000,0,1000,0,29000,0,0,6000
636,636.0,U. Western States,644000,0,0,644000,0,0,0,0,0,0,0
637,637.0,Earlham C.,554000,47000,0,100000,0,145000,7000,17000,0,0,238000
638,638.0,Shaw U.,514000,14000,0,500000,0,0,0,0,0,0,0
639,639.0,"Eastern New Mexico U., Portales",490000,3000,0,358000,0,100000,3000,21000,0,0,5000
640,640.0,Kansas City U. of Medicine and Biosciences,454000,0,0,454000,0,0,0,0,0,0,0

In [68]:
DST_22_AllFy2016byFieldInUSD.index_col='Institution'
DST_22_AllFy2016byFieldInUSD.head(3)

,Rank,Institution,All R&D expenditures in USD,Computer and information sciences in USD,"Geosciences, atmospheric sciences, and ocean sciences in USD",Life sciences in USD,Mathematics and statistics in USD,Physical sciences in USD,Psychology in USD,Social sciences in USD,"Sciences, nec in USD",Engineering in USD,All non-S&E fields in USD
0,NaN,All institutions,71833308000,2077884000,3087774000,40887850000,681661000,4893565000,1218721000,2366571000,1076636000,11381727000,4160919000
1,1.0,Johns Hopkins U.b,2431180000,142021000,33628000,904527000,55510000,181885000,4934000,9130000,66935000,1026629000,5981000
2,2.0,"U. Michigan, Ann Arbor",1436448000,8162000,13522000,784654000,18405000,54868000,21397000,160254000,2036000,293930000,79220000

In [58]:
DST_24.head(6)
DST_24_FedSpendFy2016byField=DST_24
len(DST_24_FedSpendFy2016byField)
DST_24_FedSpendFy2016byField.index_col="Institution"
list(DST_24_FedSpendFy2016byField)
DST_24_FedSpendFy2016byField=DST_24[cols2];
DST_24_FedSpendFy2016byField['All R&D expenditures in USD']=DST_24_FedSpendFy2016byField['All R&D expenditures']*1000;
DST_24_FedSpendFy2016byField['Computer and information sciences in USD']=DST_24_FedSpendFy2016byField['Computer and information sciencesa']*1000;
DST_24_FedSpendFy2016byField['Geosciences, atmospheric sciences, and ocean sciences in USD']=DST_24_FedSpendFy2016byField['Geosciences, atmospheric sciences, and ocean sciencesa']*1000;
DST_24_FedSpendFy2016byField['Life sciences in USD']=DST_22_AllFy2016byField['Life sciences']*1000;
DST_24_FedSpendFy2016byField['Mathematics and statistics in USD']=DST_24_FedSpendFy2016byField['Mathematics and statisticsa']*1000;
DST_24_FedSpendFy2016byField['Physical sciences in USD']=DST_24_FedSpendFy2016byField['Physical sciences']*1000;
DST_24_FedSpendFy2016byField['Psychology in USD']=DST_24_FedSpendFy2016byField['Psychology']*1000;
DST_24_FedSpendFy2016byField['Social sciences in USD']=DST_24_FedSpendFy2016byField['Social sciences']*1000;
DST_24_FedSpendFy2016byField['Sciences, nec in USD']=DST_24_FedSpendFy2016byField['Sciences, nec']*1000;
DST_24_FedSpendFy2016byField['Engineering in USD']=DST_24_FedSpendFy2016byField['Engineering']*1000;
DST_24_FedSpendFy2016byField['All non-S&E fields in USD']=DST_24_FedSpendFy2016byField['All non-S&E fields']*1000;
DST_24_FedSpendFy2016byFieldInUSD=DST_24_FedSpendFy2016byField[cols2a]
DST_24_FedSpendFy2016byFieldInUSD.index_col='Institution'

C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [70]:
DST_24_FedSpendFy2016byFieldInUSD.head(3)

,Rank,Institution,All R&D expenditures in USD,Computer and information sciences in USD,"Geosciences, atmospheric sciences, and ocean sciences in USD",Life sciences in USD,Mathematics and statistics in USD,Physical sciences in USD,Psychology in USD,Social sciences in USD,"Sciences, nec in USD",Engineering in USD,All non-S&E fields in USD
0,NaN,All institutions,38793542000,1442771000,1992990000,40887850000,444419000,3286816000,761433000,898576000,465015000,6583476000,1119712000
1,1.0,Johns Hopkins U.b,2104653000,135644000,30987000,904527000,53795000,172102000,4278000,8242000,64825000,987721000,4556000
2,2.0,"U. Washington, Seattle",946787000,13189000,100006000,784654000,5698000,47369000,8032000,12027000,0,99745000,53737000

In [69]:
DST_21.head(3);

In [66]:
cols= ['Rank',
 'Institution',
 'All R&D Expenditures',
 'Federal Government',
 'State and local government',
 'Institution Funds',
 'Business',
 'Non-Profit Organizations',
 'All other sources']
DST_21_Fy2016bySourceOfFunds = DST_21[cols]
len(DST_21_Fy2016bySourceOfFunds)
DST_21_Fy2016bySourceOfFunds.index_col="Institution";
DST_21_Fy2016bySourceOfFunds['All R&D expenditures in USD']=DST_21_Fy2016bySourceOfFunds['All R&D Expenditures']*1000;
DST_21_Fy2016bySourceOfFunds['Federal Government in USD']=DST_21_Fy2016bySourceOfFunds['Federal Government']*1000;
DST_21_Fy2016bySourceOfFunds['State and local government in USD']=DST_21_Fy2016bySourceOfFunds['State and local government']*1000;
DST_21_Fy2016bySourceOfFunds['Institution Funds in USD']=DST_21_Fy2016bySourceOfFunds['Institution Funds']*1000;
DST_21_Fy2016bySourceOfFunds['Business in USD']=DST_21_Fy2016bySourceOfFunds['Business']*1000;
DST_21_Fy2016bySourceOfFunds['Non-Profit Organizations in USD']=DST_21_Fy2016bySourceOfFunds['Non-Profit Organizations']*1000;
DST_21_Fy2016bySourceOfFunds['All other sources in USD']=DST_21_Fy2016bySourceOfFunds['All other sources']*1000;
colsa= ['Rank',
 'Institution',
 'All R&D expenditures in USD',
 'Federal Government in USD',
 'State and local government in USD',
 'Institution Funds in USD',
 'Business in USD',
 'Non-Profit Organizations in USD',
 'All other sources in USD']
DST_21_Fy2016bySourceOfFundsInUSD=DST_21_Fy2016bySourceOfFunds[colsa]
DST_21_Fy2016bySourceOfFundsInUSD.index_col='Institution'

C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cgdeer\AppData\Local\Continuum\Anaconda2\envs\py35\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [65]:
DST_21_Fy2016bySourceOfFundsInUSD.head(3)

,Rank,Institution,All R&D expenditures in USD,Federal Government in USD,State and local government in USD,Institution Funds in USD,Business in USD,Non-Profit Organizations in USD,All other sources in USD
0,NaN,All institutions,7.183331e+10,3.879354e+10,4.025280e+09,1.797496e+10,4.210563e+09,4.614800e+09,2.214161e+09
1,1.0,Johns Hopkins U.a,2.431180e+09,2.104653e+09,6.107000e+06,9.651300e+07,7.532700e+07,1.389810e+08,9.599000e+06
2,2.0,"U. Michigan, Ann Arbor",1.436448e+09,7.867490e+08,3.428000e+06,5.039550e+08,6.993200e+07,5.662500e+07,1.575900e+07

In [72]:
DST_21_Fy2016bySourceOfFundsInUSD.head(3);
DST_25_wid_FedSpendFy2016byAgencyInUSD.head(3);

In [98]:
#merge DST_25_wid...InUSD with EdgeFile and keep only UID,
#rank, institution, data from dst25, Lat from EdgeFile, 
#and Lon from EdgeFile
DST_25_wid_pos_Fy2016bySourceOfFundsInUSD= pd.merge(DST_25_wid_FedSpendFy2016byAgencyInUSD, EdgeFile, how='left', on='UNITID')
col25b=['UNITID',
        'Rank',
        'Institution',
        'All federal R&D expenditures in USD',
        'DOD in USD',
        'DOE in USD',
        'HHS in USD',
        'NASA in USD',
        'NSF in USD',
        'USDA in USD',
        'Other in USD',
        'LAT',
        'LON']

dst25_clean=DST_25_wid_pos_Fy2016bySourceOfFundsInUSD[col25b]
dst25_clean.head(3)
#save out
dst25_clean.to_csv("c:/Users/cgdeer/Documents/GitHub/HERD_Analysis/Data/UnitIDs_and_Groups/DST25_cleaned.csv",
                                                 encoding="utf-8");

In [112]:
#merge 21 and give it UNITIDs and lat, lon
DST_25_wid_FedSpendFy2016byAgencyInUSD.index.col="Institution"
dst21_clean= pd.merge(DST_21_Fy2016bySourceOfFundsInUSD, dst25_clean, how='left', on='Institution')
list(dst21_clean)
dst21_clean['Rank']=dst21_clean['Rank_x']
list(dst21_clean)
colsb=['UNITID',
       'Rank',
       'Institution',
       'All R&D expenditures in USD',
       'Federal Government in USD',
       'State and local government in USD',
       'Institution Funds in USD',
       'Business in USD',
       'Non-Profit Organizations in USD',
       'All other sources in USD',
       'LAT',
       'LON']
dst21_cleaned=dst21_clean[colsb]
dst21_cleaned.to_csv("c:/Users/cgdeer/Documents/GitHub/HERD_Analysis/Data/Cleaned/DST_21_cleaned.csv",
                     encoding="utf-8")

In [121]:
#merge 22 and give it UNITIDs and LAT, LON
dst22_clean=pd.merge(DST_22_AllFy2016byFieldInUSD, dst25_clean, how='left', on='Institution')
dst22_clean['Rank']=dst22_clean['Rank_x']
list(dst22_clean)
colsc=['UNITID',
       'Rank',
       'Institution',
       'All R&D expenditures in USD',
       'Computer and information sciences in USD', 
       'Geosciences, atmospheric sciences, and ocean sciences in USD',
       'Life sciences in USD',
       'Mathematics and statistics in USD',
       'Physical sciences in USD',
       'Psychology in USD',
       'Social sciences in USD',
       'Sciences, nec in USD',
       'Engineering in USD',
       'All non-S&E fields in USD',
       "LAT",
       "LON"
]
dst22_cleaned=dst22_clean[colsc]
dst22_cleaned.to_csv("c:/Users/cgdeer/Documents/GitHub/HERD_Analysis/Data/Cleaned/DST_22_cleaned.csv",
                     encoding="utf-8")

In [126]:
#merge 22 and give it UNITIDs and LAT, LON
dst24_clean=pd.merge(DST_24_FedSpendFy2016byFieldInUSD,dst25_clean, 
                     how='left', on='Institution')
dst24_clean['Rank']=dst24_clean['Rank_x']
dst24_cleaned=dst24_clean[colsc]
dst24_cleaned.to_csv('c:/Users/cgdeer/Documents/GitHub/HERD_Analysis/Data/Cleaned/DST_24_cleaned.csv', encoding="utf-8")

In [226]:
#len(Merged2)

In [227]:
#check column names

['Rank_x',
 'Institution',
 'All R&D expenditures_x',
 'Computer and information sciencesa_x',
 'Geosciences, atmospheric sciences, and ocean sciencesa_x',
 'Life sciences_x',
 'Mathematics and statisticsa_x',
 'Physical sciences_x',
 'Psychology_x',
 'Social sciences_x',
 'Sciences, nec_x',
 'Engineering_x',
 'All non-S&E fields_x',
 'Rank_y',
 'All R&D expenditures_y',
 'Computer and information sciencesa_y',
 'Geosciences, atmospheric sciences, and ocean sciencesa_y',
 'Life sciences_y',
 'Mathematics and statisticsa_y',
 'Physical sciences_y',
 'Psychology_y',
 'Social sciences_y',
 'Sciences, nec_y',
 'Engineering_y',
 'All non-S&E fields_y',
 'UNITID',
 'Rank_x',
 'All federal R&D expenditures',
 'DOD',
 'DOE',
 'HHS',
 'NASA',
 'NSF',
 'USDA',
 'Othera',
 'Rank_y',
 'All R&D Expenditures',
 'Federal Government',
 'State and local government',
 'Institution Funds',
 'Business',
 'Non-Profit Organizations',
 'All other sources']

In [228]:
#list(PartialMerge['Institution']
#    );

load csvs for check, Hardcoded due to pathing problems.

In [229]:
#dataCkR1= pd.read_csv("c:/Users/cgdeer/HERD_Analysis/IDfocused/R1wid.csv",
#                   index_col='UNITID')
#CkABOR= pd.read_csv("C:/Users/cgdeer/HERD_Analysis/IDfocused/ABOR_Peers_ASU_UA_NAUwid.csv", index_col='UNITID')
#CkAAU= pd.read_csv("C:/Users/cgdeer/HERD_Analysis/IDfocused/AAUwid.csv", index_col='UNITID')
#len(dataCkR1)  
#dataCkR1.head(115);

In [230]:
#replace PartialMerge with dst##_cleaned

#CkMR1=pd.merge(dataCkR1,PartialMerge, how='left', on='UNITID')
#CkABORPeer=pd.merge(CkABOR,PartialMerge,how='left', on='UNITID')
#CkAAUgroup=pd.merge(CkAAU,PartialMerge,how='left', on='UNITID');

In [233]:
#len(CkMR1)
#CkMR1.head(16)
#len(dataCkR1)
#found that there were three dupes of IDs UNITIDs in HERD2016_DST_25wid.xlsx.
#U.Tennessee Knoxville, and U. Tennessee Knoxville Institute of Ag, 
#U.Alabama at Birmingham, U.Alabama Huntsville,
#and SUNY Albany, and SUNY Birmingham U.

#How we rectified this:
#SUNY Birmingham U assumed to be SUNY Broome Community College, Birmingham (assigned 189547)
#U. Alabama Huntsville was misassigned.  (Changed to 100706)
#U.Tennesee Knoxville Institute of Ag UNITID removed completely as IPEDs does not supply 
#a unique ID for this Institution

#Reintroduction of amended HERD2016_DST_25wid.xlsx fixes length incongruences, WE ARE FIT FOR PRINT!

115

In [235]:
#len(CkABORPeer)
#len(CkABOR)
#CkABORPeer.head(47)

45

In [236]:
#len(CkAAUgroup)
#len(CkAAU)

59

In [165]:
#colsR1= ['UNITID', 'University','Institution'];

In [166]:
#dfcols= PartialMerge;

In [167]:
#dfcols.head();

In [240]:
#save out to check for inconsistencies, oddly enough relative paths worked here.
#PartialMerge.to_csv("~//HERD_Analysis/2016/HERD2016Merge.csv", encoding="utf-8")
#CkABORPeer.to_csv('~//HERD_Analysis/2016/CkABOR.csv')

In [ ]:
#list(Merged.columns.values)